@font-face {
    font-family: 'Raleway-Thin';
    src: url('./Raleway-Thin/Raleway-Thin.eot'); /* IE9 Compat Modes */
    src: url('./Raleway-Thin/Raleway-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./Raleway-Thin/Raleway-Thin.woff') format('woff'), /* Pretty Modern Browsers */
        url('./Raleway-Thin/Raleway-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Raleway-ThinItalic';
    src: url('./Raleway-ThinItalic/Raleway-ThinItalic.eot'); /* IE9 Compat Modes */
    src: url('./Raleway-ThinItalic/Raleway-ThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./Raleway-ThinItalic/Raleway-ThinItalic.woff') format('woff'), /* Pretty Modern Browsers */
        url('./Raleway-ThinItalic/Raleway-ThinItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Raleway-ExtraLight';
    src: url('./Raleway-ExtraLight/Raleway-ExtraLight.eot'); /* IE9 Compat Modes */
    src: url('./Raleway-ExtraLight/Raleway-ExtraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./Raleway-ExtraLight/Raleway-ExtraLight.woff') format('woff'), /* Pretty Modern Browsers */
        url('./Raleway-ExtraLight/Raleway-ExtraLight.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Raleway-ExtraLightItalic';
    src: url('./Raleway-ExtraLightItalic/Raleway-ExtraLightItalic.eot'); /* IE9 Compat Modes */
    src: url('./Raleway-ExtraLightItalic/Raleway-ExtraLightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./Raleway-ExtraLightItalic/Raleway-ExtraLightItalic.woff') format('woff'), /* Pretty Modern Browsers */
        url('./Raleway-ExtraLightItalic/Raleway-ExtraLightItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Raleway-Light';
    src: url('./Raleway-Light/Raleway-Light.eot'); /* IE9 Compat Modes */
    src: url('./Raleway-Light/Raleway-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./Raleway-Light/Raleway-Light.woff') format('woff'), /* Pretty Modern Browsers */
        url('./Raleway-Light/Raleway-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Raleway-LightItalic';
    src: url('./Raleway-LightItalic/Raleway-LightItalic.eot'); /* IE9 Compat Modes */
    src: url('./Raleway-LightItalic/Raleway-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./Raleway-LightItalic/Raleway-LightItalic.woff') format('woff'), /* Pretty Modern Browsers */
        url('./Raleway-LightItalic/Raleway-LightItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Raleway-Regular';
    src: url('./Raleway-Regular/Raleway-Regular.eot'); /* IE9 Compat Modes */
    src: url('./Raleway-Regular/Raleway-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./Raleway-Regular/Raleway-Regular.woff') format('woff'), /* Pretty Modern Browsers */
        url('./Raleway-Regular/Raleway-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Raleway-Italic';
    src: url('./Raleway-Italic/Raleway-Italic.eot'); /* IE9 Compat Modes */
    src: url('./Raleway-Italic/Raleway-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./Raleway-Italic/Raleway-Italic.woff') format('woff'), /* Pretty Modern Browsers */
        url('./Raleway-Italic/Raleway-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Raleway-Medium';
    src: url('./Raleway-Medium/Raleway-Medium.eot'); /* IE9 Compat Modes */
    src: url('./Raleway-Medium/Raleway-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./Raleway-Medium/Raleway-Medium.woff') format('woff'), /* Pretty Modern Browsers */
        url('./Raleway-Medium/Raleway-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Raleway-MediumItalic';
    src: url('./Raleway-MediumItalic/Raleway-MediumItalic.eot'); /* IE9 Compat Modes */
    src: url('./Raleway-MediumItalic/Raleway-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./Raleway-MediumItalic/Raleway-MediumItalic.woff') format('woff'), /* Pretty Modern Browsers */
        url('./Raleway-MediumItalic/Raleway-MediumItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Raleway-SemiBold';
    src: url('./Raleway-SemiBold/Raleway-SemiBold.eot'); /* IE9 Compat Modes */
    src: url('./Raleway-SemiBold/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./Raleway-SemiBold/Raleway-SemiBold.woff') format('woff'), /* Pretty Modern Browsers */
        url('./Raleway-SemiBold/Raleway-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Raleway-SemiBoldItalic';
    src: url('./Raleway-SemiBoldItalic/Raleway-SemiBoldItalic.eot'); /* IE9 Compat Modes */
    src: url('./Raleway-SemiBoldItalic/Raleway-SemiBoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./Raleway-SemiBoldItalic/Raleway-SemiBoldItalic.woff') format('woff'), /* Pretty Modern Browsers */
        url('./Raleway-SemiBoldItalic/Raleway-SemiBoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Raleway-Bold';
    src: url('./Raleway-Bold/Raleway-Bold.eot'); /* IE9 Compat Modes */
    src: url('./Raleway-Bold/Raleway-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./Raleway-Bold/Raleway-Bold.woff') format('woff'), /* Pretty Modern Browsers */
        url('./Raleway-Bold/Raleway-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Raleway-BoldItalic';
    src: url('./Raleway-BoldItalic/Raleway-BoldItalic.eot'); /* IE9 Compat Modes */
    src: url('./Raleway-BoldItalic/Raleway-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./Raleway-BoldItalic/Raleway-BoldItalic.woff') format('woff'), /* Pretty Modern Browsers */
        url('./Raleway-BoldItalic/Raleway-BoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Raleway-ExtraBold';
    src: url('./Raleway-ExtraBold/Raleway-ExtraBold.eot'); /* IE9 Compat Modes */
    src: url('./Raleway-ExtraBold/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./Raleway-ExtraBold/Raleway-ExtraBold.woff') format('woff'), /* Pretty Modern Browsers */
        url('./Raleway-ExtraBold/Raleway-ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Raleway-ExtraBoldItalic';
    src: url('./Raleway-ExtraBoldItalic/Raleway-ExtraBoldItalic.eot'); /* IE9 Compat Modes */
    src: url('./Raleway-ExtraBoldItalic/Raleway-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./Raleway-ExtraBoldItalic/Raleway-ExtraBoldItalic.woff') format('woff'), /* Pretty Modern Browsers */
        url('./Raleway-ExtraBoldItalic/Raleway-ExtraBoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Raleway-Black';
    src: url('./Raleway-Black/Raleway-Black.eot'); /* IE9 Compat Modes */
    src: url('./Raleway-Black/Raleway-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./Raleway-Black/Raleway-Black.woff') format('woff'), /* Pretty Modern Browsers */
        url('./Raleway-Black/Raleway-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
    font-family: 'Raleway-BlackItalic';
    src: url('./Raleway-BlackItalic/Raleway-BlackItalic.eot'); /* IE9 Compat Modes */
    src: url('./Raleway-BlackItalic/Raleway-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./Raleway-BlackItalic/Raleway-BlackItalic.woff') format('woff'), /* Pretty Modern Browsers */
        url('./Raleway-BlackItalic/Raleway-BlackItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
}